html {
    background-color: #f5f5f5;
}
tr.furetui-list-primary {
    background: hsl(171, 100%, 41%) !important;
}
tr.furetui-list-info {
    background: hsl(217, 71%, 53%) !important;
}
tr.furetui-list-success {
    background: hsl(141, 71%, 48%) !important;
}
tr.furetui-list-warning {
    background: hsl(48, 100%, 67%) !important;
}
tr.furetui-list-danger {
    background: hsl(348, 100%, 61%) !important;
}
tr.furetui-list-black {
    background:	hsl(0, 0%, 4%) !important;
}                                 
tr.furetui-list-grey {
    background:	hsl(0, 0%, 48%) !important;
}                                 
tr.furetui-list-white {
    background:	hsl(0, 0%, 100%) !important;
}                                 
tr.furetui-list-orange {
    background:	hsl(14, 100%, 53%) !important;
}                                 
tr.furetui-list-yellow {
    background:	hsl(48, 100%, 67%) !important;
}                                 
tr.furetui-list-green {
    background:	hsl(141, 71%, 48%) !important;
}                                 
tr.furetui-list-turquoise {
    background:	hsl(171, 100%, 41%) !important;
}                                 
tr.furetui-list-blue {
    background:	hsl(217, 71%, 53%) !important;
}                                 
tr.furetui-list-purple {
    background:	hsl(271, 100%, 71%) !important;
}                                 
tr.furetui-list-red {
    background:	hsl(348, 100%, 61%) !important;
}                                 


article.furet-ui-space-menu h1 {
    font-style: oblique;
    font-weight: bolder;
}
